If you have additional questions, please review our #{link_to 'Terms of Use', 'http://localhost:3000/en/terms', :target => :_blank} or feel free to email us #{mail_to t('site.email.contact'), "here"}.