RoundSeed works like this: you submit your project, tell us
%strong how much do you need
and a
%strong deadline
to reach this goal. You then promote your project so that others can opt to
%strong back your with any amount
beginning from $5 on up and
%strong receive the rewards
that you're offering! If you reach the goal by your selected deadline, the funds are transferred to you. Otherwise, everybody receives their money back. It's as simple as that!
#show_tips
  %a{:href => '#'} See more tips on how Catarse works
