%strong RoundSeed
works like this: you submit a project or campaign; tell us how much you need to raise, and a deadline to reach your goal. Next, you promote your project to others who can opt to support the project starting from an amount of $10 and up.  If you meet your goal by the deadline, the funds raised are transferred to you. If you come up short of your goal, everyone receives their money back. It is as simple as that.
#show_tips
  %a{:href => '#'} See more tips on how RoundSeed works