%strong Roundseeding
is the process of creating and sharing a project with others, in an informative and collaborative way, so that a diverse audience can “crowd” together to help turn your project into a reality.
%p 
%strong The process starts with you,
the creator, who has an opportunity to start something special. You seed the process by clearly communicating your project, why it’s such an amazing opportunity, product, service or cause; its goal, and what you need to do to achieve it.
%p 
%strong Engage others.
Help your project take flight. The first step of roundseeding is typically to share your goal with those people who know you best, such as your friends and family. This first round of people knows your passion for your project, trust and believe in your, and therefore will represent your first round of potential backers. In turn, they will be also be the first to seed your project to a second round of backers – their connections.
%p
%strong You've just been roundseeded!
Some of these people may not know you, or be as familiar with your passion, but they know their friends, and see that they’re supporters of your project. If your project resonates with them, they may back your project too, and seed a third round of sharing your project with their connections.
%p
%strong Create an experience!
The only limits to how far the process can go are your passion and the appeal of your project.  The more passion you have and the broader the appeal, the number of roundseed’s is potentially limitless.
#show_tips
  %a{:href => '#'} How RoundSeed works
