%h2 Project Types
%p We don’t require that projects be of any particular type. Other than using common sense, we encourage you to be as creative as you can to engage your current and prospective audience.
%p If you are “too creative” that’s ok, because we’ll get a sneak peak at the project before it goes live. If we think you are pushing the boundaries, we’ll contact you with some suggested changes.
%p The way to think about RoundSeed, is as a content-rich “word of mouth” platform. We have put in place easy to use content creation and social sharing tools to help you get support from others, and to help others, help you.
%h2 Perks & Rewards
%p Perks and rewards reasoning and "requirement."
%h2 Be Socially Smart
%p Don’t spam. Be respectful. Don’t promote on others’ pages. Use your content, which you have created. Don’t be a hater. If you don’t like a project, simply don’t support it.
Actions that don't adhere to these guidelines or our Terms of Use, will result in a project, or your account being removed from RoundSeed.